.article-preview-img {
  width: 100%;
  height: 209px;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;

}

.article-hashtag-btn {
  font-size: 12px;
  background-color: #f4f4d7; /* Colore di sfondo del bottone */
  color: rgb(148, 148, 148); /* Colore del testo */
  border: none; /* Nessun bordo */
  padding: 5px 10px; /* Spaziatura interna */
  cursor: pointer;
  border-radius: 50px; /* Puntatore a mano per i bottoni */
  transition: background-color 0.3s ease, color 0.3s ease; /* Transizione smooth */
}

.article-hashtag-btn:hover {
  background-color: #007bff; /* Colore quando si passa sopra con il mouse */
  color: white;
}

.article-date {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  font-size: 0.9em;
}

.articlenav-author-img {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}

.author-info-articlenav {
  display: flex;
  gap: 10px;
  font-weight: 300;
  margin-top: 10px;
  z-index: 2;
  color: white;
  font-weight: 400;
}
