/*--------------------------------------------------------------
---------------------RESPONSIVE LAYOUT -------------------------
-----------------------------------------------------------------*/

/* Schermi grandi */
@media (max-width: 1920px) {
  .article-body {
    font-size: 1.1rem;
    overflow-x: hidden;
  }
  div#root {
    overflow-x: hidden;
  }
  .blog-centering{
    width: 800px;
    margin-right: 800px;
    margin-left: auto;
  }
  .blog-title h1 {
    font-size: 3em; /* Riduci la dimensione del titolo */
  }

  .blog-subtitle h2 {
    font-size: 1em; /* Riduci la dimensione del sottotitolo */
  }
/*   .col-lg-6{
    width: 100%;
  } */
}

/* Schermi medi */
@media (max-width: 1200px) {
  .article-body {
    max-width: 750px;
    font-size: 1rem;
    overflow-x: hidden;
  }
  .social-icon {
    font-size: 1.8rem;
  }
  .blog__grid {
    grid-template-columns: repeat(2, 1fr); /* 2 colonne */
  }
  div#root {
    overflow-x: hidden;
  }
  .blog-title h1 {
    font-size: 3em; /* Riduci la dimensione del titolo */
  }

  .blog-subtitle h2 {
    font-size: 0.75em; /* Riduci la dimensione del sottotitolo */
  }
  .col-lg-6{
    width: 100%;
  }
  
  
  
}
@media (max-width: 900px) {
  .button-home-container {
    display: none;
  }
  .blog__grid{
    grid-template-columns: repeat(2, 1fr);
  }

  .blog-title h1 {
    font-size: 2em; /* Riduci ulteriormente */
  }

  .blog-subtitle h2 {
    font-size: 0.65em; /* Riduci ulteriormente */
  }
  .blog-centering{
    margin-right: auto;
    margin-left: auto;
    padding: 50px;
    font-size: 30px;
  }
  .blog__container{
    padding: 0px;
  }
  .col-lg-6{
    width: 100%;
  }

}

/* Tablet e schermi medi */
@media (max-width: 768px) {
  .article-body {
    max-width: 600px;
    font-size: 0.9rem;
    overflow-x: hidden;
  }
  div#root {
    overflow-x: hidden;
  }
  .share-icons {
    margin-left: 20px;
  }
  .social-icon {
    font-size: 1.5rem;
  }
  .button-home-container {
    display: none;
  }
  .blog__grid{
    grid-template-columns: repeat(2, 1fr);
  }
  .blog-centering{
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    padding: 50px;
    font-size: 25px;
  }
  .blog__container{
    padding: 0px;
  }
  .col-lg-6{
    width: 100%;
  }
}

/* Smartphone grandi */
@media (max-width: 480px) {
  .article-body {
    max-width: 100%;
    font-size: 0.85rem;
    padding: 0 15px;
    overflow-x: hidden;
  }
  div#root {
    overflow-x: hidden;
  }
  .article-title {
    font-size: 1.5rem;
  }
  .share-icons {
    margin-left: 0;
    align-items: center;
  }
  .social-icon {
    font-size: 1.3rem;
  }
  .button-home-container {
    display: none;
  }
  .blog__grid{
    grid-template-columns: repeat(1, 1fr);
  }
  .blog-centering{
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    padding: 50px;
    font-size: 15px;
  }
  .blog__container{
    padding: 0px;
  }
  .blog-subtitle h2 {
    font-size: 0.96rem; /* Riduci ulteriormente */
  }
}

/* Smartphone piccoli */
@media (max-width: 380px) {
  .article-body {
    font-size: 0.8rem;
    overflow-x: hidden;
  }
  div#root {
    overflow-x: hidden;
  }
  .article-title {
    font-size: 1.3rem;
  }
  .social-icon {
    font-size: 1.2rem;
  }
  .button-home-container {
    display: none;
  }
  .blog__grid{
    grid-template-columns: repeat(1, 1fr);
  }
  .search-bar-blog{
    display: none;
  }
  .blog-centering{
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    padding: 50px;
    font-size: 15px;
  }

  .blog-title h1 {
    font-size: 2em; /* Riduci ulteriormente */
  }

  .blog-subtitle h2 {
    font-size: 0.93rem; /* Riduci ulteriormente */
  }
  .blog__container{
    padding: 0px;
  }
  .col-lg-6{
    width: 100%;
  }
}

@media (max-width: 345px) {
  .article-body {
    font-size: 0.75rem;
    overflow-x: hidden;
  }
  div#root {
    overflow-x: hidden;
  }
  .article-title {
    font-size: 1.1rem;
  }
  .social-icon {
    font-size: 1rem;
  }
  .button-home-container {
    display: none;
  }
  .blog__grid{
    grid-template-columns: repeat(1, 1fr);
  }
  .blog-centering{
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    padding: 50px;
    font-size: 15px;
  }
  .blog__container{
    padding: 0px;
  }

/*   .search-bar-blog{
    display: none;
  } */
}
