/* Contenitore della barra di ricerca */
.search-bar-blog {
  display: flex;
  align-items: center;  /* Allinea verticalmente l'input e l'icona */
  margin-top: 30px;
  justify-content: flex-end; /* Spazio verticale */
  padding: 10px;
  margin-right: 170px;
}

/* Stile dell'input della barra di ricerca */
.search-bar {
  width: 100%;
  max-width: 400px;          /* Limita la larghezza massima */
  padding: 10px 15px;        /* Padding per l'interno */
  font-size: 16px;           /* Dimensione del testo */
  border-radius: 25px;       /* Angoli arrotondati */
  border-color: #777;
  border: 2px solid #4A4A4A; /* Colore del bordo */
  outline: none;             /* Rimuove il bordo quando è selezionato */
  transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Animazioni fluide */
}

/* Stile quando l'input è selezionato */
.search-bar:focus {
  border-color: #4A4A4A; /* Cambia il colore del bordo quando attivo */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Effetto ombra */
}

/* Placeholder stile */
.search-bar::placeholder {
  color: #888;  /* Colore del testo segnaposto */
  font-style: italic; /* Font stile per il placeholder */
}

/* Icona della lente di ingrandimento */
.search-icon {
  margin-left: -35px; /* Sposta l'icona a sinistra per sovrapporla */
  color: #4A4A4A; /* Colore dell'icona */
  font-size: 18px; /* Dimensione dell'icona */
  pointer-events: none; /* Ignora gli eventi di puntamento */
}

/* Stile del pulsante della barra di ricerca (opzionale) */
.search-button {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer; /* Cambia il cursore su hover */
}


/* Schermi grandi */
@media (max-width: 1920px) {
  .article-body {
    font-size: 1.1rem;
    overflow-x: hidden;
  }
  div#root {
    overflow-x: hidden;
  }

}

/* Schermi medi */
@media (max-width: 1200px) {
  .search-bar-blog{
    margin-right: 80px;
  }
}
@media (max-width: 900px) {
  .search-bar-blog{
    display: none;
  }
}

/* Tablet e schermi medi */
@media (max-width: 768px) {
  .search-bar-blog{
    display: none;
  }
}

/* Smartphone grandi */
@media (max-width: 480px) {
  .search-bar-blog{
    display: none;
  }
}

@media (max-width: 380px) {
  .search-bar-blog{
    display: none;
  }
}

@media (max-width: 345px) {
  .search-bar-blog{
    display: none;
  }
}